{% extends 'blog/base.html' %}
{% block content %}
{% include "blog/_comment_list.html" %}
{% if user.is_authenticated %}
    {% include "blog/_comment_form.html" with form=comment_form %}
{% endif %}
<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p>By {{ object.author }} on {{ object.date_posted }}</p>
<a href="{% url 'post-update' object.pk %}">Edit</a> |
<a href="{% url 'post-delete' object.pk %}">Delete</a>
<p>Tags:
  {% for tag in post.tags.all %}
    <a href="{% url 'posts-by-tag' tag.name %}">{{ tag.name }}</a>
  {% empty %}
    No tags
  {% endfor %}
</p>
{% endblock %}
